<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/static.css">
</head>
<body>
    <main>
        <form method="post">
            <h1>Login</h1>
            <label class="label" for="username">Username</label>
                <input class="input" type="text" name ="username" placeholder="Enter your username">
                <br>
            
            <label class="label" for="password">Password</label>
                <input class="input" type="password" name ="password" placeholder="Enter your username">
                <br>
            <div class="wrapper-btn">
                <button class="input tugma" type="submit">Login</button>
            </div>
        </form>
        <h3 style="color: red;">{{ error }}</h3>
    </main>
    
</body>
</html>