<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mening filim</title>
    <link rel="stylesheet" href="../static/publish.css">
</head>
<body>
    <header>
        <div class="wrapper-header">

        </div>
    </header>
    <main>
        <div class="wrapper-main">
            <form action="/post" method="post">
                <label for="title"></label>
                <input type="text" name="title" class="title" placeholder="Sarlavhasini kiriting">
                
                <label for="matn"></label>
                <input type="text" name="matn" class="matn" placeholder="Matni kiriting">
                
                <div class="wrapper-btn">
                    <button class="tugma" type="submit">Publish</button>
                </div>
            </form>
            

        </div>
    </main>
    
</body>
</html>